<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		form, div {
			display: inline-block;
		}
		div {
			text-align: left;
		}
		.top {
			display: block;
			margin-left: 40%;
		}
	</style>
</head>
<body>
	<%provide(:title, 'Sign up')%>
	<h1>Sign up</h1>
	<%= render 'form'%>
</body>
</html>