<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>You reset password by link <%=link_to "#{@user.confirm_token}", edit_reset_password_url(@user), targer: '_blank' %></h1>
</body>
</html>