<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>You confirm by link <%=link_to "#{@user.confirm_token}", new_confirm_url(email: @user.email, confirm_token: @user.confirm_token), targer: '_blank' %></h1>
</body>
</html>